<html>
    <head>
        <title>
            <%= title %>
        </title>

       


        <link rel="stylesheet" href="/css/layout.css">
        <!-- //to extract style from body and placed here  -->
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
    </head>
    <body>
       <!-- //Header included -->
        <%- include('_header'); %>
        
         <% if(flash.success && flash.success.length>0) {%>
            <h5><%= flash.success%></h5>
         <% } %>
        <!-- This contain the varialble part -->
        <%- body %>
        
        <!-- Footer Included -->
         <%- include('_footer'); %>
        <!-- //to extract script from body and placed here  -->
         <%- script%>
    </body>
</html>